<h1>Stupid Coaching</h1>
<div class="leftBorder">
  <%= params[:answer]%> <br>
  <p class="italics">-You
  </p>
</div>

<div class="leftBorder warning">
  <%= @answer %> <br>
  <p class="italics">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
